<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="https://www.uni-bonn.de/de/impressum">Impressum</a></li>
            <li><a href="https://www.uni-bonn.de/de/datenschutzerklaerung">Datenschutzerklärung</a></li>
            <li class="copyright"><p>© {{ now.Format "2006" }} {{.Site.Title}}</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
