.partners {
    .partner-box {
        padding: 2em;
        background-color: white;
        height: 300px;
        margin-bottom: 2em;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

        .partner-box-image {
            align-items: center;
            display: flex;
            height: 50%;
            justify-content: center;
            margin-bottom: 2em;
            img {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                width: auto !important;
            }
        }
        h4 {
            font-size: 1em;
            margin-bottom: 2em;
        }
    }
}
